<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tinder - Dashboard</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
        let token = localStorage.getItem('token');
        $.ajaxSetup({
            beforeSend: function (xhr)
            {
                xhr.setRequestHeader("Authorization",`Bearer ${token}`);
            }
        });
        $.get('/test', function (res) {
            console.log(res);
            if(!res.done){
                localStorage.removeItem('token');
                window.location = '/';
            }
        })
    </script>
    <style>
    .imageBlock{
        display: none;
    }

    .imageBlock.active{
        display: block;
    }

    #controls{
        display: none;
    }

    #controls.active{
        display: flex;
    }

    #show{
        font-size: 2em;
        width: 50%;
        position: relative;
        left: 25%;
        top: 25vh;
    }
        #imageStack{
            margin: 0 auto;
            position: relative;
            width: 30%;
        }
        .name{
            border-bottom: solid;
            border-bottom-color: brown;
            margin: 10px 10%;
            padding: 5px;
            text-align: center;
            font-size: 1.4em;
        }

        .controlbutton{
            width: 60%;
            position: relative;
            left: 20%;
        }

        .fullBox{
            margin: 5%;
        }

</style>
</head>
<body>
<a class="button is-danger is-rounded" id="show">
    Show Images
</a>
<div class="fullBox">
<div id="imageStack" aria-length="{{length}}">
    {{#each people}}
        <div class="imageBlock" id="{{@index}}">
            <figure class="image">
                <img src="{{this.image}}">
            </figure>
            <div class="name">{{this.email}}</div>
        </div>
    {{/each}}
</div>

<div class="columns" id="controls">
    <div class="column">
        <button id="prev" class="button is-info is-rounded controlbutton">Previous</button>
    </div>
    <div class="column">
        <a id="like" class="button is-success is-rounded controlbutton">Like</a>
    </div>
    <div class="column">
        <a id="block" class="button is-danger is-rounded controlbutton">Block</a>
    </div>
    <div class="column">
        <a id="super_like" class="button is-link is-rounded controlbutton">Super Like</a>
    </div>
    <div class="column">
        <a id="next" class="button is-info is-rounded controlbutton">NEXT</a>
    </div>
</div>
</div>


<div class="modal" id="likeModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Like Received</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            Who are these new people liking your profile
        </section>
    </div>
</div>


<div class="modal" id="superLikeModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">You are Super Liked</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <p class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" id="superLikeImg" alt="">
            </p>
        </section>
    </div>
</div>


<script>

    $('.modal-background').click(function () {
        $(this).parent().removeClass('is-active');
    });

    $('.delete').click(function () {
        $(this).parent().parent().parent().removeClass('is-active');
    });

    let socket = io.connect('http://localhost:2000', {
        query: {token: token}
    });
    socket.emit('login',  "{{email}}" );

    socket.on('liked', function () {
        $('#likeModal').addClass('is-active');
        console.log("someone Liked You")
    });

    socket.on('super_liked', function ({hisImage}) {
        $('#superLikeImg').attr('src', hisImage);
        $('#superLikeModal').addClass('is-active');
        console.log(hisImage);
    });

    function like(otherMail) {
        socket.emit('like', otherMail);
    }

    function superLike(myMail, otherMail) {
        console.log(myMail, otherMail);
        socket.emit('super_like', {myEmail : myMail, likedEmail : otherMail});
    }

    function block(myMail, otherMail) {
        $.post('/blockuser', {
            myEmail: myMail,
            blockEmail: otherMail
        })
    }
</script>

<script>

$('#show').click(function () {
    $('#show').remove();
    let i = 0;
    let blocked = [];
    let length = $('#imageStack').attr('aria-length');
    $(`#${i}`).addClass('active');
    $('#controls').addClass('active');

    $('#prev').click(function () {
        $(`#${i}`).removeClass('active');
        i = i === 0 ? length - 1 : i - 1;
        while (blocked.indexOf(i) !== -1){
            i = i === 0 ? length - 1 : i - 1;
        }
        $(`#${i}`).addClass('active');
    });

    $('#next').click(function () {
        $(`#${i}`).removeClass('active');
        i = i === length - 1 ? 0 : i + 1;
        while (blocked.indexOf(i) !== -1){
            i = i === length - 1 ? 0 : i + 1;
        }
        $(`#${i}`).addClass('active');
    });

    $('#like').click(function () {
        let likedMail = $(`#${i}>div`).html();
        like(likedMail);
    });

    $('#super_like').click(function () {
        let likedMail = $(`#${i}>div`).html();
        superLike("{{email}}", likedMail);
    });

    $('#block').click(function () {
       let blockMail =  $(`#${i}>div`).html();
       block("{{email}}", blockMail);
       blocked.push(i);
       $(`#${i}`).removeClass('active');
       $(`#${i}`).remove();
       i = i === length - 1 ? 0 : i + 1;
       $(`#${i}`).addClass('active');
    });
})

</script>
</body>
</html>